header {
  max-height: 120px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  box-shadow: var(--box-shadow);
  width: 1000px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ececec;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 50px;
  margin-right: 10px;
}
.logo span {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.themeSelector {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.themeSelector span {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 30px;
  height: 30px;
  margin: 0 3px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 500ms;
}
.themeSelector span.active {
  transform: scale(1.4);
}
.light {
  background-color: #fff;
  transition: all 500ms;
}
.medium {
  background-color: #ececec;
  transition: all 500ms;
}
.dark {
  background-color: #15202b;
  transition: all 500ms;
}
.gOne {
  background: linear-gradient(135deg, #fff 0%, #000 100%),
    linear-gradient(125deg, #15202b 10%, #ececec 96%);
  background-blend-mode: overlay overlay;
  transition: all 500ms;
  background-repeat: no-repeat;
}
